In [33]:
# reading the file
import pandas as pd
main_data = pd.read_csv("Data.csv")

# cleaning the data
# making the values of the as float from intger.  
main_data["ARAI_Certified_Mileage_kmpl"].astype(float)

test_data = main_data.head()
#writing the main function
def cars(cost_min, cost_max, brand, mileage_min, mileage_max, p_d_cng, seating, data=main_data):
    filter_p = data[data["Ex-Showroom_Price"].isin(range(cost_min,cost_max))]
    # return filter_p
    filter_b_p = filter_p[filter_p["Make"] == brand]
    # return filter_b_p
    filter_b_p_t = filter_b_p[filter_b_p["Fuel_Type"]  == p_d_cng]
    # return filter_b_p_t
    filter_b_m_p_t = filter_b_p_t[filter_b_p_t["ARAI_Certified_Mileage_kmpl"].isin(range(mileage_min, mileage_max))]
    # return filter_b_m_p_t
    filter_b_m_p_s_t = filter_b_m_p_t[filter_b_m_p_t["Seating_Capacity"] == seating]
    # return filter_b_m_p_s_t
    return filter_b_m_p_s_t.sort_values("Ex-Showroom_Price").head()
    return filter_b_m_p_s_t 

ans = cars(cost_min=100000, cost_max=1000000, brand="Tata", mileage_min=10, mileage_max=30, p_d_cng="Petrol", seating=5)

In [7]:
# reading the file
import pandas as pd
main_data = pd.read_csv("Data.csv")

# cleaning the data
# making the values of the as float from intger.  
main_data["ARAI_Certified_Mileage_kmpl"].astype(float)
# removing the duplicates based on the rows
main_data = main_data.drop_duplicates(subset="Model")
# for now top cars = data.head
top_cars =main_data[main_data['Model'].isin(["Scorpio", "Thar", "Xuv500", "Fortuner","Vitara Brezza"])]
# average top cars 
# testing the always returing some value function
def cars(cost_min, cost_max, brand, mileage_min, mileage_max, p_d_cng, seating, data=main_data):
    #simple validating the inputs
    try:
        cost_min = int(cost_min)
    except:
        return "You have entered invalid minimum cost, please re-enter"
    try:
        cost_max = int(cost_max)
    except:
        return "You have entered invalid maximum cost, please re-enter"
    try:
        mileage_min = int(mileage_min)
    except:
        return "You have entered invalid mimum mileage, please re-enter"
    try:
        mileage_max = int(mileage_max)
    except:
        return "you have entered invalid max mileage, please re-enter"

    
    
    
    filter_p = data[data["Ex-Showroom_Price"].isin(range(min(cost_min,cost_max), max(cost_min,cost_max)))]
    if (len(filter_p) == 0):
        return top_cars.sort_values("Ex-Showroom_Price").head()

    filter_b_p = filter_p[filter_p["Make"] == brand]
    if (len(filter_b_p) == 0):
        return filter_p.sort_values("Ex-Showroom_Price").head()

    filter_b_p_t = filter_b_p[filter_b_p["Fuel_Type"]  == p_d_cng]
    if (len(filter_b_p_t) == 0):
        return filter_b_p.sort_values("Ex-Showroom_Price").head()

    filter_b_m_p_t = filter_b_p_t[filter_b_p_t["ARAI_Certified_Mileage_kmpl"].isin(range(min(mileage_min, mileage_max), max(mileage_min, mileage_max)))]
    if (len(filter_b_m_p_t) == 0):
        return filter_b_p_t.sort_values("Ex-Showroom_Price").head()

    filter_b_m_p_s_t = filter_b_m_p_t[filter_b_m_p_t["Seating_Capacity"] == seating]
    if (len(filter_b_m_p_s_t) == 0):
        return filter_b_m_p_t.sort_values("Ex-Showroom_Price").head()

In [9]:
# testing the fucntion
ans = cars(cost_min="c", cost_max=1000, brand="Tata", mileage_min=10, mileage_max=30, p_d_cng="Petrol", seating=5)

In [10]:
ans

'You have entered invalid minimum cost, please re-enter'

In [ ]:
top_cars =main_data[main_data['Model'].isin(["Scorpio", "Thar", "Xuv500", "Fortuner","Vitara Brezza"])]

In [13]:
top_cars

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
564,628,Mahindra,Thar,Crde,959860,2498 cc,4.0,4.0,4WD,In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,653,Mahindra,Scorpio,S3 2Wd,999994,2523 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587,666,Mahindra,Xuv500,G At,1610180,2179 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN
727,538,Maruti Suzuki,Vitara Brezza,Ldi,762742,1248 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125,761,Toyota,Fortuner,2.8 4X2 At,3205000,2755 cc,4.0,4.0,RWD (Rear Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN